<!DOCTYPE html>
<html>
<head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Incoming Emial</title>
</head>
<body>

  <h1>Hi Ashlinn!</h1>

  <h3> <%= @name %> at <%= @sender %></h3> has checked out your personal site and sent you this email:

  <div style="border: 2px solid black;">
    <p><%= @body %></p>
  </div>

  <h1>Respond if you want a job!</h1>


</body>
</html>

